@page "/Secret"

@attribute [Authorize]
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject ILibraryServices LibraryService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Secret</PageTitle>
<h3>Secret</h3>

<p>Congratulations! You got a secret!</p>
<p>@test</p>
@message

@code {

    string test = string.Empty;
    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        test = "Loading a secret...";
        var token = await LocalStorageService.GetItemAsStringAsync("authToken");
        token = token.Replace("\"", "");
        var response = await AuthService.Secret(token);
        if (response.Success)
        {
            test = response.Data;
        }
        else
        {
            test = string.Empty;
            message = response.Message;
        }
    }
}
